*{
    font-family: 'Roboto', sans-serif;
}
header{
    height: 50px;
    background-color: #212121;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 13px 70px;
    list-style-type: none;
}
.menu-item{
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
}